<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Shop Admin Home</title>
  <link href="/main.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,
    700,700i,900,900i&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>




    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.3.0/mdb.min.css" rel="stylesheet" />


</head>

<body onload="myFunction()">
  

<header class="header" id="header">
    <div class="header__wrapper">
        <div class="header__logo--wrapper">
            <a href="/customer/dashboard"><label class="logo">UTM-OPS</label></a>
        </div>

        {{!-- <div class="delivery-terms__wrapper">
            <div class="delivery-terms">
                <button class="delivery-terms__time" type="button">ASAP</button>
                <span class="delivery-terms__span">to</span>
                <label class="delivery-terms__label">
                    <input type="text" class="delivery-terms__input" placeholder="Your location">
                </label>
            </div>
        </div>  --}}
        
        <div class="authorization-options__wrapper">
            <a href="/customer/orders"><button  class="authorization-options ">Orders</button></a>
            {{!-- <a href="/shopOwner/addProduct"><button onclick="togglePopup()" class="authorization-options authorization-options--register">Bla Bla</button></a> --}}
            <a href="/auth/logout"><button class="authorization-options authorization-options--register" >Logout</button></a>
            <a href="/customer/profile"><i class="fa fa-user" style="font-size: 30px; margin: 10px; color: maroon;" aria-hidden="true"></i></a>
            {{!-- <button class="shop-settings " > <i class="fa fa-gear"></i></button> --}}
             {{!-- <a href="https://www.ubereats.com/ru-UA/checkout/">
                <img src="components/authorization-options/images/basket.svg" alt="basket">
            </a> --}}
          
        </div>
    </div>
</header>


  <div class="restaurant-choose__wrapper">


    <div style="margin-top: 120px; " class="restaurant-choose">


      <div style="background-image: url('/images/{{shop.shopImage}}');" class="restaurant-preview__background" id="restaurant-background">
        <div class="restaurant-preview__wrapper">
          <div class="restaurant-preview">
            <span class="restaurant-preview__title" >{{shop.shopName}}</span>
            <div class="restaurant-preview__footer">
              <span class="restaurant-preview__price">{{shop.status}}</span>
              {{!-- <span class="restaurant-preview__time">40-50 Min</span> --}}
            </div>
          </div>
        </div>
      </div>
      
      <label class="search__label" style="margin-bottom: 50px;">
            <input style="background: url("images/Shapesearch.svg") top left     no-repeat; height:30px; padding-left:25px;" type="text" id="myInput" class="search" placeholder="Search for a service" >
     </label>


            <div class="container" style="margin-bottom: 50px;">
                <div class="row">
                        {{!-- <ul id="myUL" class="restaurant-choose__first"> --}}
                    {{#each products}}
                    <div class="col-sm-4">

                            <li style="list-style:none" class="prodCard" >
                                <a href="/checkout/{{_id}}" class=" card " style="margin-bottom: 10px;">
                             <img src="/images/{{productImage}}" alt="{{productImage}}" height="242" width="364">
                                    <span class="card__name">Service: {{productName}} </span>
                                    <i style="margin-bottom: 10px;" class="fa fa-money"><span class="card__cuisines">Price: {{productPrice}} MYR per page/item</span></i>
                                    {{!-- <span class="card__name">Shop: {{shopOwner.shopName}} </span> --}}
                                </a>
                            </li>
                    </div>
                       
              
                    {{/each}}
                </div>
            </div>

    </div>
  </div>



  
 <div class="footer">
    <div class="footer-content">

      <div class="footer-section about">
        <h1 class="logo-text">UTM-OPS</h1>
        <p>
          UTM-OPs is a fictional blog conceived for the purpose of a tutorial on YouTube.
          However, Awa has a blog called pieceofadvice.org where he writes truly inspiring stuff.
        </p>
        <div class="contact">
          <span><i class="fas fa-phone"></i> &nbsp; 0173205480</span>
          <span><i class="fas fa-envelope"></i> &nbsp; Othman.elhammali@gmail.com</span>
        </div>
        <div class="socials">
          <a href="#"><i class="fab fa-facebook"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
      </div>

      <div class="footer-section links">
        <h2>Quick Links</h2>
        <br>
        <ul>
          <a href="https://sso.utm.my/login" target="_blank">
            <li>MyUTM Portal</li>
          </a>
          <a href="https://www.utm.my/" target="_blank">
            <li>UTM Official Website</li>
          </a>
          <a href="/about" target="_blank">
            <li>About</li>
          </a>
          <a href="/terms" target="_blank">
            <li>Terms and Conditions</li>
          </a>
        </ul>
      </div>

      <div class="footer-section contact-form">
        <h2>Contact Shop Admin</h2>
        <br>
        <form action="/mailToShop/{{shop._id}}" method="post">
          <input type="email" name="email" class="text-input contact-input" placeholder="Your email address...">
          <textarea rows="4" name="message" class="text-input contact-input" placeholder="Your message..."></textarea>
          <button type="submit" class="btn btn-big contact-btn">
            <i class="fas fa-envelope"></i>
            Send
          </button>
        </form>
      </div>

    </div>

    <div class="footer-bottom">
      &copy; utmops.com | Designed by Othman Alhadiri
    </div>
  </div>


</body>
<script>
    function myFunction() {
        console.log("here")
        const searchBar = document.getElementById("myInput")
        searchBar.addEventListener('keyup', function (e) {
            const term = e.target.value.toLowerCase()
            const avlProducts = document.getElementsByClassName('prodCard')
            console.log(avlProducts)
            Array.from(avlProducts).forEach(function (product) {
                const title = product.getElementsByClassName('card__name')[0].innerText
                if (title.toLowerCase().indexOf(term) != -1) {
                    product.style.display = "block";
                } else {
                    product.style.display = "none";
                }

            })
        })

    }
</script>

</html>